/*
  micro clearfix
  左右のボックスレイアウトをする時のおまじないだと思ってください。
 */
.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

/*IE6,7対策 （haslayout対策）*/
.cf {
  *zoom: 1;
}


/*
  box-sizing をすべてに適用
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
