@charset "UTF-8";
/* ----------------------------------------------------

  スタイルシートを記述する

---------------------------------------------------- */
.site-title{
  font-size: 18px;
  color: #000;
}


.image-sample {
  border: 1px solid #000;
  margin: 20px;
}
