/*
  - border-width ... ボーダーの太さ
  - border-style ... ボーダーの種類 ( http://www.htmq.com/style/border-style.shtml )
  - border-color ... ボーダーの色

  省略して以下のようにスペースで区切って、まとめて指定することもできます。
  border: 5px solid #000000;
*/


.border-solid{
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
}


.border-thick{
  border: 5px solid #000000;
}


.border-dotted{
  border-width: 3px;
  border-style: dotted;
  border-color: #000000;
}


.border-outset{
  border-width: 10px;
  border-style: outset;
}
