.color-red{
  color: #ff0000;
  /*
    color: red;
    color: rgb(255,255,255);
    とも書くことができます。
  */
}

.bgcolor-red{
  background-color: #ffff00;
}

/*
  フォントを太字にします
*/
.bold{
  font-weight: bold;
}

/*
  フォントを斜体にします
*/
.italic{
  font-style: italic;
}

/*
  下線をひきます
*/
.underline{
  text-decoration: underline;
}

.shadow{
  text-shadow: 2px 2px 5px #000;
}

.box-shadow{
  box-shadow: 2px 2px 5px #000;
}

.spacing{
  letter-spacing: 0.3em;
}


.serif{
  font-family: serif;
}
.sans-serif{
  font-family: sans-serif;
}

.bigger{
  font-size: 150%;
}

.smaller{
  font-size: 70%;
}


.border{
  border-width: 2px;
  border-style: solid;
  border-color: #0ff;
}


.web-font{
  font-family: 'Lobster', cursive;
}


.user-action-01:hover{
  color: red;
}

.user-action-02:active{
  text-decoration: underline;
}

.user-action-03:hover{
  cursor: pointer;
}
