/* ==========================================================
  以下は全部、おなじ赤色を指定しているものですが、指定の仕方がすべて異なります。
  お好みにあわせて使い分けましょう。
========================================================== */



/*　

#ff0000 などの 16 進数で色を表します。
PhotoShop のカラーパレットなどから色を16進数で取得できます

*/
.color-01 {
  background-color: #ff0000;
}




/*　

#ff0000 などの 16 進数で色をあらわす省略系です。
「ff」 など連続している場合、 「f」 ひとつに省略が可能です。

*/
.color-02 {
  background-color: #f00;
  margin-top: 50px;
}




/*

rgba (red, green, blue, alpha) のあとにそれぞれの値を数値で指定する方法です。
alpha は 透明度をあらわし、0 で透明、1 で不透明になります。

*/
.color-03 {
  background-color: rgba(255, 0, 0, 1);
  margin-top: 50px;
}




/*

red, blue などの一般的な色は単語でも指定可能です。
(あんまり使わないかも。。)

*/
.color-04 {
  background-color: red;
  margin-top: 50px;
}
