
/* =============================================

  1. HTML タグを指定して装飾する

============================================== */
body {
  background-color: #eabe45;
}




/* =============================================

  2. id 属性を指定して装飾する

  ページ内に 「1つしかない要素」 に対しては、 class ではなく id という属性を指定します。
  id 属性に対して CSS を反映させる場合、「# (シャープ)」のあとに「 id の名前」を指定します。

============================================= */
#main-title {
  color: #668116;
}




/* =============================================

  3. class 属性を指定して装飾する

  HTML のタグに 「<h2 class="green"></h2>」 みたいない属性をつけると、
  その class を選んで命令することができます。
  「. (ドット)」のあとに「 class の名前」を指定します。

============================================= */
.brown-color {
  color: #3c2e11;
}

.small-text {
  font-size: 80%;
}
