@charset "UTF-8";

body {
  margin: 0;
}

.honbun {
  line-height: 4em;
}

.main-content {
  background: #e3e3e3;
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
}

/*
  四角いボックスを作る
*/

.box-01, .box-03, .box-04 {
  width: 200px;
  height: 200px;
  background: lightblue;
  border: 1px solid #333;
  opacity: 0.8;
}

/* box-01 のなかに入っている小さい四角*/
.box-02 {
  width: 100px;
  height: 100px;
  background: lightcoral;
  border: 1px solid #333;
}

/*
  Position で位置を指定しよう

  position:
    - static ... 初期値
    - relative ... 初期値からどのくらいずらすかを指定できる
    - fixed ... window の左上を基準に位置を固定する
    - absolute ... 親要素の左上を基準に位置を固定する


  レイヤーの重なり順を調整しよう

  z-index:
    - 数字 (大きければ大きいほど手前に来る)

  todo: static, relative, fixed, absolute をすべてためそう！
*/

.box-01 {
}

.box-02 {
}
