body{
  margin: 0;
}

.responsive{
  font-size: 20px;
  color: white;
  background-color: red;
}

/*

レスポンシブの指定には @media という命令を使います。
ここでは 600px 以下になると背景色の指定を青色になるように上書きしています。

 */
@media (max-width: 600px) {
  .responsive {
    font-size: 16px;
    background-color: blue;
  }
}
